@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-border-bottom {
  position: relative;
}

.gradient-border-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%; /* Positionne le bord gauche au centre */
  transform: translateX(-50%); /* Centre l'élément */
  width: 70%; /* Largeur de 50% */
  height: 1px; /* Hauteur de la bordure */
  background: linear-gradient(to right, #06021a, #535353, #06021a); /* Dégradé */
  border-radius: 1px; /* Coins arrondis pour la bordure */
}

